<!doctype html>
    <title>Upload new File</title>

<h3>Upload image to recognise:</h3>
<form method=post enctype=multipart/form-data>
  <input type=file name=file>
  <input type=submit value=Recognise>
</form>

<h3>Upload image for trainig:(Format: [name].[n].jpg Example: milena.1.jpg, milena.2.jpg, ivan.1.jpg)</h3>
<form action="/train" method=post enctype=multipart/form-data>
  <input type=file name=file>
  <input type=submit value=Train>
</form>


<h3>Training images:</h3>
<ul>
    {% for file in files %}
    <li><a href="/uploads/{{ file }}">{{ file }}</a>&nbsp;&nbsp;
        <a href="/delete/{{ file }}">[x]</a>
    </li>
    {% endfor %}
</ul>
